@media print {

    /* preserve all background colors/gradients */
    *,
    *::before,
    *::after {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    /* hide these elements as before */
    header,
    footer,
    #download-button {
        display: none !important;
    }
}